<center>
  <% current_question = @trivia_questions[0] %>
  <% i = 0 %>
  <% i += 1 %>
    <h3>Question <%= i %>: <%= current_question.question %></h3>
    <div id='trivia_answers'>
      <%= form_with url: trivia_path, method: :post, skip_enforcing_utf8: true, local: true do |f| %>
      <% current_question.answers.each do |answer| %>
      <p><%= f.radio_button :answer,answer %> <%= answer %> </p>
    <% end %>
  </div>
  <%= f.submit 'Submit' %>
  <% end %>
</center>
