<!DOCTYPE html>
<html>
  <head>
    <title>FECritterism</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= stylesheet_link_tag 'navbar' %>

    <nav>
      <ul>
        <% unless current_page?(root_path) %>
          <li class="container-fluid-left">
            <%= image_tag ('CritterismTrans.png'), :size => "500x400" %>
          </li>
          <li><%= link_to 'Home', root_path %></li>
        <% end %>
        <% unless current_page?(charities_path) %>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Charities</a>
          <div class="dropdown-content">
            <a <%= link_to 'Animals', charities_animals_path %></a>
            <a <%= link_to 'Wildlife', charities_wildlife_path %></a>
          </div>
        </li>
        <% end %>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Critterism Staff Picks</a>
          <div class="dropdown-content">
            <a href="https://www.every.org/cbrrescue">Sunny - Chesapeake Bay Retriever Relief and Rescue</a>
            <a href="https://www.every.org/azhumane">Nicole - Arizona Humane Society</a>
            <a href="https://www.rmhrr.org/">Sterling - Rocky Mountain House Rabbit Rescue</a>
            <a href="https://www.savetheelephants.org/">Nikky - Save the Elephants</a>
            <a href="https://q14.b9e.myftpupload.com/">Taryn - The Bird Rescue Center</a>
          </div>
        </li>
        <li style='float:right'>
          <% if current_user %>
            <strong><%= current_user.name %></strong>
            <%= link_to 'Log Out', logout_path, method: :delete %>
          <% end %>
        </li>
      </ul>
    </nav>

    <br>

    <% flash.each do |type, msg| %>
      <center>
        <h3><%= msg %></h3>
      </center>
    <% end %>

    <br>

    <%= yield %>
  </body>
</html>
